/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

h1 {
    font-weight: 700;
    color: #343a40;
}

/* Navbar */
.navbar {
    background-color: #A9302C !important; /* New color, overrides bootstrap color */
    color: #fff; /* White text */
    font-size: 20px;
    font-weight: bolder;
    font-style: oblique;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar-brand{
    font-size: 30px;
}
.navbar .navbar-brand,
.navbar .nav-link {

    color: #fff !important; /* Ensures text is white */
}

.navbar .nav-link:hover {
    color: #000000 !important; /* Lighter hover color */
}

/* Cards */
.card {
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}


/* background image */
body {
    background-image: url("images/cs502.jpg");
    background-size: cover; /* Cover the entire page */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Background stays fixed on scroll */
    background-position: center; /* Center the image */
    position: relative;
}
body::before {
    content: ""; /* Mandatory for pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent white overlay */
    z-index: -1; /* Keeps overlay behind the foreground content */
}
